<!DOCTYPE html>
<html>
<head>
	<title>Semantic UI</title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
 	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
</head>
<body style="background: #F6F6F6">
<div class="ui inverted menu" style="position: sticky; top: 0; z-index: +1;">
	<div class="ui container">
	<a href="/" class="item"><i class="in flag"></i></a>
	<a  href="/" class="item"><b>Home</b></a>
	<a href="#" class="item">About</a>
	<a href="/files" class="item">All Files</a>
	<div class="right menu">
		<div class="ui fluid category search">
		<div class="ui icon input">
		<form action="/search" method="POST">
			<input class="prompt" type="text" size="25" name="search" placeholder="Username" required>
		</form>
		<i class="search icon"></i>
	</div>
	<div class="results"></div>
	</div>
		<a href="/" class="item">Hii, Search Here</a>
	</div>
	</div>
</div> 
