<%include partials/header%>
<div class="ui container" style="width:60%;padding:20px;background:white;" >
<h3>File Sucessfully Uploaded...</h3><br>
<b>Note: Windows Files (.docx, .odp, .odt, etc.) will not be opened in browser as browser don't support, instead will be downloaded to your system. </b><br>
<br><b>File Name: </b><%=filename%><br><br>
<a href="/read/<%=filename%>" class="ui basic blue button">Open file</a>OR
<a href="/download/<%=filename%>" class="ui basic green button">Download file</a><br><br>
<a href="/files"  class="ui basic button" > View All Files </a>
<%include partials/footer%>
